Body {
    background-image: url('../images/fondo.jpg'); 
    background-size: 100%; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    margin: 0;
    padding:0;
    height:100%;
    width:100%;

    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
}

.Principal {
    width: 95%; 
    margin: auto; 
    margin-top:25px;
    min-height:100%;
}

.CuadroTexto{
    background-color: whitesmoke; 
    padding: 20px; 
    width: 1080px; 
    max-width:1080px;
    height: 100%;
    min-height: 800px;
    min-height: 100%;
    overflow: hidden; /*hace que se ajuste */
    border-radius: 10px;
    opacity:1;
    margin: auto;
}
h1 {
    color:white;
    font-size:medium;
}

.Pie{
    clear: left;
    background-color: black; 
    padding: 20px; 
    width: 90%; 
    border-radius: 10px;
    opacity:0.6;
    margin: auto;
    color: #FFFFFF;
    font-size:small;
    width:1080px;
    max-width:1080px;
}

.PrincipalGrid {
    width: 90%; 
    height: 98%; 
    margin: auto; 
    overflow: auto;  Definimos el padding inferior: 50px del pie de pagina mas 10px de separacion */ 
    padding-bottom: 60px; /* Definimos un padding superior */ 
    /* min-height:100%; */
}

.CuadroGrid{
    background-color: whitesmoke; 
    padding: 20px; 
    width: 96%; 
    height: 100%; 
    border-radius: 10px;
    opacity:0.9;
}

/* Div que engloba el contenido de la página menos el footer */ 
#wrapper { min-height:100%; }  

header { 
    display:block; 
    background:#ccc; 
    padding:10px 0px; 
}  

section {
    overflow: auto; 
    /* Definimos el padding inferior: 50px del pie de pagina mas 10px de separacion */ 
    padding-bottom: 60px; 
    /* Definimos un padding superior */ 
    padding-top:30px; 
}  

footer { 
    position: relative; 
    /* Altura total del footer en px con valor negativo */ 
    margin-top: -50px; 
    /* Altura del footer en px. Se han restado los 5px del margen superior mas los 5px del margen inferior */ 
    height: 40px; 
    padding:5px 0px; 
    clear: both; 
    background: #286af0; 
    text-align: center; color: #fff; 
} 

/* Esta clase define la anchura del contenido y la posicion centrada El contenido queda centrado y limitado, pero la cabecera y el pie llegan hasta los limites del navegador. */  

.define { width:90%; margin:0 auto; }

#piedepagina {
    height: 50px;  /* establece la altura del pie de página */
    margin-top: -50px;  /* estas cifras tienen que ser opostas */
}

.RadGrid
{
    border-radius: 10px;
    overflow: hidden;
}

ul, ol, li, lo 
{
    list-style-type: none;
}